body, .grid {
	background-color: #202020;
	color: #DCDCDC;
}

.grid {
	display: grid;
	grid-template-columns: minmax(auto, 20vw) auto;
	grid-template-rows: minmax(20vh, auto);
	grid-template-areas: "header header"
		"aside article"
		"footer footer";
	grid-gap: calc(1vh);
	padding: 0.5%;
}

.grid-item {
	background-color: #282828;
	padding: 2%;
}

header {
	grid-area: header;
}

header > img {
	width: 25%;
	margin: auto;
	margin-top: 2%;
	display: block;
	border-radius: calc(3vh);
	border-style: solid;
	border-color: #FFCC00;
	transform: rotate(-10deg);
	box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.5);
}

header > h1 {
	text-align: center;
	margin-bottom: 0;
	font-family: Helvetica;
	font-size: 36px;
}

aside {
	grid-area: aside;
}

figure {
	margin: 5% 0 10% 0;
	text-align: center;
}

figure > img {
	width: 15vw;
	border-radius: calc(2vh);
	border-style: solid;
	border-color: #3399FF;
	border-width: 3px;
}

figure > figcaption {
	font-weight: bold;
	font-family: Helvetica;
	font-size: 20px;
}

article {
	grid-area: article;
	column-width: 250px;
	margin-bottom: 3%;
}

article > h1 {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #DCDCDC;
	margin: 0;
	margin-bottom: 3%;
	font-size: 22px;
	font-family: Helvetica;
}

article > p {
	margin: 0;
	font-size: 16px;
	font-family: Tahoma;
}

article img {
	margin: 2% 3% 0 0;
	float: left;
	width: 7vw;
	border-radius: calc(1vh);
	border-style: solid;
	border-color: #FF0066;
	border-width: 3px;
}

q {
	margin: 0 2%;
	color: #FF0066;
	font-size: 20px;
	font-style: italic;
}

footer {
	grid-area: footer;
}

footer > h1 {
	text-align: center;
	margin: 0;
	font-family: Helvetica;
	font-size: 20px;
}

@media only screen and (max-width: 800px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-areas: "header"
		"article"
		"aside"
		"footer";
	}
	
	article {
		column-count: 1;
	}
	
	article img {
		width: 30vw;
	}
	
	header > img {
		width: 60%;
		margin-top: 4%;
		display: block;
	}
	
	header > h1 {
		font-size: 48px;
	}
	
	article > h1 {
		border-bottom-width: 3px;
		font-size: 36px;
	}
	
	article > p {
		font-size: 18px;
	}
	
	figure {
		margin: 3% 0 3% 0;
	}
	
	figure > img {
		width: 60vw;
	}
	
	figure > figcaption {
		font-size: 36px;
	}
	
	footer > h1 {
		font-size: 24px;
	}
}