<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Task-D</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        table, th, td {
            min-width: 25%;
            text-align: center;
            font-size: 20px;
            border: 2px solid black;
            border-collapse: collapse;
            padding: 1%;
        }

        th {
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <h1>Some Forms</h1>
    <table id="table-data">
        <tr>
            <% Object.keys(data).forEach(key => { %>
                <th><%= key %></th>
            <% }); %>
        </tr>
        <tr>
            <% Object.values(data).forEach(value => { %>
                <td><%= value %></td>
            <% }); %>
        </tr>
    </table>
</body>
</html>
